* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
    display: block;
    background-color: rgba(255, 192, 203, 0.397);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}